[submodule "sharpmake/sharpmakeutils"]
	path = sharpmake/sharpmakeutils
	url = https://github.com/fpuma/SharpmakeUtils.git
[submodule "source/extern/utilslibrary"]
	path = source/extern/utilslibrary
	url = https://github.com/fpuma/utilslibrary.git
[submodule "source/extern/glm"]
	path = source/extern/glm
	url = https://github.com/g-truc/glm.git
